/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Geralmente os navegadores implementam previamente algumas propriedades como margem e preenchimento */

* {
    margin:0;
    padding: 0;
    /* border-box padronização para os tamanhos das divs */
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height: 1.7;
    color: #777;
    padding:20px;
}

.header{
    /* 95% viewport height */
    height: 95vh;
    background-image:linear-gradient(rgb(125, 218, 109,0.8), rgb(39, 180, 133,0.8)) ,url('../img/hero.jpg');
    /* ajusta o tamanho da imagem de acordo com a viewport */
    background-size: cover;
    /* o clip path permite realizar recortes do elemento */
    /* x,y */
    clip-path: polygon(0 0, 100% 0, 100% 80%,0 100%);
}

.header__logo-box{
    /* o position aboluste  | relative (por padrao do navegador é static)  */
    /* permite utilizar os atributos top left right para o posicionamento de objetos */
    /* caso nao possuir os atributos acima o mesmo nao obedece os atributos */
    position: absolute;
    top: 40px;
    left: 40px;
}

.header__logo{
    height: 40px;
}

.header__text-box{
    /* position absolute para dimensionar livremente o objeto dentro do container */
    /* para utilzar o top e left */
 position: absolute;   
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 text-align: center;

}


.heading-primary{
    color:white;
    text-transform: uppercase;
}

.heading-primary--main{
    /* display block oculpa a linha inteira */
    display: block;
    font-size: 60px;
    font-weight: 400;
    /* letter-spacing é o espaçamento entre as letras */
    letter-spacing: 35px;

    /* animaçao criada na tag keyframes, passamos a variavel que criamos */
    /* e a duração (o percentual seria o loading) */
    animation-name: moveInLeft;
    animation-duration: 5s;

}

.heading-primary--sub{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing é o espaçamento entre as letras */
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-duration: 5s;
}


.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 40px;
    transition: .3s;
}


.btn--white{
    margin-top: 30px;
    display: inline-block;
    color:gray;
    background-color: white;
    border-radius: 100px;
    animation-name: buttonMoveUp;
    animation-duration: 1s;
}

.btn--white:hover{
    transform: translateY(-10px);
}


.btn--white:active{
    transform: translateY(-8px);
}




@keyframes moveInLeft{

    0%{
        opacity: 0;
        transform: translate(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}


@keyframes moveInRight{

    0%{
        opacity: 0;
        transform: translate(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}


@keyframes buttonMoveUp{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);

    }
}